header#profile {
    width: 100%;
    padding: 120px 0 0 0;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 520px;
    background: #d9a139 url(../images/green-dust-and-scratches.png);

    h2 {
        margin: 20px 0 0 0;
    }
    .light {
        font-weight: lighter;
    }
}
@media only screen and (min-width: 1024px) {
    header#profile {
        width: 30%;
        padding: 0 0 0 0;
        height: 400px;
    }
}