@import 'colors';
@mixin align-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 120px;
    padding: 30px 1.5em 0 1.5em;
    position: fixed;
    z-index: 1;
    overflow: auto;
    transition: 0.3s;
    @include align-horizontal();

    .logo {
        font-family: 'Bungee', cursive;
        font-size: 1.5em;
    }
    .nav__link {
        @include align-horizontal();
        flex-direction: column;

        i {
            margin: 5px 0 0 0;
            display: block;
            animation: updown 2s infinite ease-in-out;
            color: #ff0000;
            cursor: pointer;
        }
    }

    button {
        border: none;
        background: none;
        transition: 0.5s;

        :hover {
            transform: scale(1.5);
        }
    }
}
@media only screen and (min-width: 1024px) {
    nav {
        background: $secondary;
    }
}
@media only screen and (max-width: 1023px) {
    nav.transform {
        background: $secondary;
    }
}
@keyframes updown {
    0% {
      transform: translate(0, 5px);
    }
    50% {
      transform: translate(0, -8px);
    }
    100% {
      transform: translate(0, 5px);
    }
  }